.boldtable, .boldtable TD, .boldtable TH
{
    font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size:12px;
    font-weight:300;
    white-space: nowrap;
    line-height:15px;
    color:#666666;
}

.boldtable TH,.boldtable TH.sortcol{
	height:15px;
	max-height:15px;
    border-bottom:1px solid #bbbbbb;
    border-right:1px solid #bbbbbb;
    color:#181818;
    /*background-color:#f5f5f5;*/
    background:url(colbg.jpg) repeat-x left top;
    /*filter: DropShadow(Color=ffffff, OffX=0, OffY=1, Positive=1);*/
    text-shadow: #ffffff 0px 1px 0px;
    text-indent:8px;
    cursor:default;
    overflow:hidden;
}
.boldtable TH.sortcol{
	background:url(colsel.jpg) repeat-x left top;
}
.boldtable TH img{
	float:right;
	clear:both;
	/*margin-top:-11px;*/
	margin-right:3px;
	display:inline;
}
.boldtable a, .boldtable TD a, .boldtable TH a
{
    color:#181818;
    cursor:pointer;
}

.boldtable tr:active,.boldtable a:active, .boldtable TD a:active
{
    background-color:#cccccc;
    color:#ffffff;
}

.boldtable td{
    padding-top:1px;
    padding-bottom:1px;
    cursor:default;
}
.row0{
    background-color:#ffffff;
}
.row1{
    background-color:#f0f0ff;
}
.selrow,.selrow td,.selrow td a{
    background:url(menubg.png) repeat-x left top;
    color:#ffffff;
}
.tooltable, .tooltable TD, .tooltable TH {
    white-space: nowrap;
}
   A {
      text-decoration: none;
   }
   A:HOVER {
      color: #0000CC;
   }
.fileimg {
  width:13px;
  height:13px;
  transform: translate(0, -1px);
}